doctype html
html(lang='en')
    head
        link#bootstrap-css(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        link(rel="stylesheet" href="/css/main.css")
        // ---- Include the above in your HEAD tag --------
    body
        div.login-reg-panel
            div.login-info-box
                h2 Have an account?
                label#label-register(for='log-reg-show') Login
                input#log-reg-show(type='radio', name='active-log-panel', checked='checked')
            div.register-info-box
                h2 Don't have an account?
                label#label-login(for='log-login-show') Register
                input#log-login-show(type='radio', name='active-log-panel')
            div.white-panel
                form(method='POST' action='/details')
                    div.login-show
                        h2 LOGIN
                        input(type='text', placeholder='Email' name='Email')
                        input(type='password', placeholder='Password' name='Password')
                        button(type='submit') Login

                form(method='POST' action='/')
                    div.register-show
                        h2 REGISTER
                        input(type='text', placeholder='Email' name='Email')
                        input(type='password', placeholder='Password' name='Password')
                        input(type='password', placeholder='Confirm Password' name='ConfirmPassword')
                        button(type='submit') Register
                script.
                    $(document).ready(function () {
                        $('.login-info-box').fadeOut();
                        $('.login-show').addClass('show-log-panel');
                    });
                    $('.login-reg-panel input[type="radio"]').on('change', function () {
                        if ($('#log-login-show').is(':checked')) {
                            $('.register-info-box').fadeOut();
                            $('.login-info-box').fadeIn();
                            $('.white-panel').addClass('right-log');
                            $('.register-show').addClass('show-log-panel');
                            $('.login-show').removeClass('show-log-panel');
                        } else if ($('#log-reg-show').is(':checked')) {
                            $('.register-info-box').fadeIn();
                            $('.login-info-box').fadeOut();
                            $('.white-panel').removeClass('right-log');
                            $('.login-show').addClass('show-log-panel');
                            $('.register-show').removeClass('show-log-panel');
                        }
                    });
